---
interface Props {
  companyName: string;
  link?: string;
  period: string;
  location: string;
  role: string;
}

const { companyName, link, period, location, role } = Astro.props;
---

<div class="wrapper">
  {
    link ? (
      <a href={link} target="_blank">
        <h3 class="title color_title">{companyName}</h3>
      </a>
    ) : (
      <h3 class="title color_title">{companyName}</h3>
    )
  }
  <div class="information">
    <p>
      <strong>Role</strong>
       : {role}
    </p>
    <p>
      <strong>Location</strong>
       : {location}
    </p>
    <p>
      <strong>Period</strong>
       : {period}
    </p>
  </div>
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
  .title {
    text-align: center;
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #0f27af;
  }
  .information {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .content {
    margin-top: 16px;
  }

  @media only screen and (max-width: 768px) {
    .information {
      flex-direction: column;
    }
    .information p {
      margin: 0 0 8px;
    }
  }
</style>
